<!DOCTYPE html>
<html lang="en">
<head>
    <title>聯絡我們</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/handbag-fill.svg">
    <!-- Boostrap5.0 導入程式 -->
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <script src="static/js/bootstrap.bundle.js"></script>
    <!-- 連結內容CSS -->
    <link rel="stylesheet" href="css/contactUs.css">
    <link href="images/favicon.ico" rel="icon">
    <link rel="stylesheet" href="css/headerfooter.css">

	<!-- axios -->
    <script src="static/js/axios.js"></script>
    <!-- jquery引用 -->
    <script src="static/js/jquery.js"></script>
    <script src="javaScript/contactUs.js"></script>
</head>

<body>
    <!-- 導覽列 -->
    <div id="header"></div>
    <!-- 內容 -->
	<div class='main-content'>
	    <div class="container-fluid px-0 py-3">
	    	<!-- <p class="contactUsTitle">聯絡我們</p> -->
	        <div class="contactBox">
	            <!-- 一開始即執行javascript的 init() function -->
	            <div onload="init()">
	                <form   enctype="text/plain" accept-charset="utf-8">
						<h3 class="ms-2">聯絡我們</h3>
	                <!-- 寄件者姓名    -->
	                    <input id="nameText" type="text" name="Name"  value size="60" placeholder="姓名(name)" required>  <!-- required 必填欄位 ，placeholder 預設內容--> 
	                    
	                    <!-- 寄件者email -->
	                    <input id="emailText" type="email" name="Email"  value size="60" placeholder="Email" required>
	                    
	                    <!-- 寄件者電話 -->
	                    <input id="telText"type="tel" name="Phone"  value size="60" aria-invalid="false" placeholder="電話(phone)" required>
	                    
	                    <!-- 郵件主旨 -->
	                    <input  id="subText" type="text" name="Subject"  value size="60" aria-invalid="false" placeholder="主旨(subject)" required>
	                            
	                    <!-- 郵件內容 -->
	                    <textarea id="bodyText" name="your-message" cols="40" rows="10"  aria-required="true" aria-invalid="false" placeholder="你的訊息(Your Message)" required></textarea>
	                    
	                    <!-- 傳送按鈕 -->
	                    <div>
	                        <input type="button" value="送出訊息" onclick="submitHandler();">
	                        <a id="mailTo"></a>
	                    </div>
	                </form>
	            </div>    
	        </div>
	    </div>
    </div>

    <!-- 頁尾 -->
    <div id="footer"></div>
	<script src="javaScript/logout.js"></script>
</body>
</html>