 <!-- 導覽列 -->
 <nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
        <!-- 品牌LOGO -->
        <a class="navbar-brand" href="MemberCenter">幫幫忙
            <img src="images/handbag-fill.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        </a>
        <!-- 手機版顯示 -->
        <div class="navbar-toggler border-0 p-0">
            <div class="rounded-circle d-flex">
                <img id="c29" width="50" height="50" class="rounded-circle" data-bs-toggle="collapse" data-bs-target="#offcanvas">
                <p id="c14" class="fs-1 py-2 ps-1 m-0" data-bs-toggle="collapse" data-bs-target="#offcanvas"></p>
            </div>
        </div>
        <!-- 桌機版顯示 -->

        <div class="collapse navbar-collapse" id="linkbar">
            <!-- 內容 -->
            <ul class="navbar-nav me-auto p-2">
                <li class="nav-item">
                    <a class="nav-link" href="addOrder">提出需求(I need help!)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="orderItem">我要幫忙(I can help!)</a>
                </li>
            </ul>
            <img class="rounded-circle" id="c27" style="height:40px; width:40px;" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        </div>
    </div>
</nav>

<!-- 小視窗時點大頭貼的offcanvas -->
<div class="collapse navbar-collapse bg-light p-2" id="offcanvas">
    <!-- 內容 -->
    <ul class="navbar-nav me-auto bg-light">
        <li class="nav-item">
        	<a class="nav-link" href="MemberCenter">會員中心</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="addOrder">提出需求(I need help!)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="orderItem">我要幫忙(I can help!)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="commonproblems">常見問題</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contact">聯絡我們</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">登出</a>
        </li>
    </ul>
</div>

<!-- 大視窗時點大頭貼的offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header pb-0">
        <div class="d-flex">
            <img id="c28" width="55" height="55" class="rounded-circle">
            <div class="ps-3">
                <p id="c15" class="fs-4 p-0 m-0"></p>
                <p class="fs-6 p-0 mb-2 text-secondary">會員編號#<label id="c17"></label></p>
            </div>
            <div class="ps-2">
                <div class="d-flex ps-4 pb-1">
                    <p id="c18" class="m-0 me-1 pt-1 fs-6"></p>
                    <div id="offcanvasStarRating" class="d-flex p-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-body pt-0">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <p class="nav-link m-0 fs-5 text-dark">會員中心</p>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="commonproblems">常見問題</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">聯絡我們</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="logout">登出</a>
            </li>
        </ul>
    </div>
</div>


<script>
    const logout = document.querySelector('#logout');
	logout.addEventListener('click', () => {
		sessionStorage.removeItem('mEmail');
		fetch('logout');
		location = `${getContextPath()}/index.html`;
	});

    function getContextPath() {
	return window.location.pathname.substring(0, window.location.pathname.indexOf('/', 2));
}
</script>