<!DOCTYPE html>
<html lang="en">
<head>
    <title>常見問題</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/handbag-fill.svg">
   <!-- Boostrap5.0 導入程式 -->
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <script src="static/js/bootstrap.bundle.js"></script>
    <!-- 連結內容CSS -->
    <link rel="stylesheet" href="css/QA.css">
    <link rel="stylesheet" href="css/headerfooter.css">
    <link href="images/favicon.ico" rel="icon">
	<!-- axios -->
    <script src="static/js/axios.js"></script>
    <!-- jquery引用 -->
    <script src="static/js/jquery.js"></script>
</head>

<body>
	<!-- 導覽列 -->
    <div id="header"></div>

    <!-- 內容 -->
    <div class='main-content'>
	    <div class="container-fluid px-0 py-3">
	        <div class="accordion">
	            <div class="QABox">
	                <p class="accordion-header QATitle">常見問題</p>
	                <div class="accordion-item">
	                    <h2 class="accordion-header" id="heading1One">
	                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1One" aria-expanded="false" aria-controls="collapse1One">
	                        如何註冊使用呢？
	                        </button>
	                    </h2>
	                    <div id="collapse1One" class="accordion-collapse collapse" aria-labelledby="heading1One" data-bs-parent="#accordionExample">
	                        <div class="accordion-body">
	                            第一次加入在首頁點選註冊即可開始進行註冊流程。
	                        </div>
	                    </div>
	                </div>
	                <div class="accordion-item">
	                    <h2 class="accordion-header" id="heading1Two">
	                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1Two" aria-expanded="false" aria-controls="collapse1Two">
	                        收不到驗證碼？
	                        </button>
	                    </h2>
	                    <div id="collapse1Two" class="accordion-collapse collapse" aria-labelledby="heading1Two" data-bs-parent="#accordionExample">
	                        <div class="accordion-body">
	                            如果嘗試了重新寄送驗證碼依然收不到簡訊驗證碼，請直接聯繫客服。
	                        </div>
	                    </div>
	                </div>
	                <div class="accordion-item">
	                    <h2 class="accordion-header" id="heading1Three">
	                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1Three" aria-expanded="false" aria-controls="collapse1Three">
	                        如何試算費用呢？
	                        </button>
	                    </h2>
	                    <div id="collapse1Three" class="accordion-collapse collapse" aria-labelledby="heading1Three" data-bs-parent="#accordionExample">
	                        <div class="accordion-body">
	                            輸入商品預估金額及跑腿費即可在下方得到預估金額。
	                        </div>
	                    </div>
	                </div>
	                <div class="accordion-item">
	                    <h2 class="accordion-header" id="heading1Four">
	                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1Four" aria-expanded="false" aria-controls="collapse1Four">
	                        如何提出需求？
	                        </button>
	                    </h2>
	                    <div id="collapse1Four" class="accordion-collapse collapse" aria-labelledby="heading1Four" data-bs-parent="#accordionExample">
	                        <div class="accordion-body">
	                            登入後，點選<a href="../INeedHelp/INeedHelp.html">提出需求(I need help!)</a>，並把所有欄位填完後點選送出即可。
	                        </div>
	                    </div>
	                </div>
	                <div class="accordion-item">
	                    <h2 class="accordion-header" id="heading1Five">
	                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1Five" aria-expanded="false" aria-controls="collapse1Five">
	                        如何成為幫手？
	                        </button>
	                    </h2>
	                    <div id="collapse1Five" class="accordion-collapse collapse" aria-labelledby="heading1Five" data-bs-parent="#accordionExample">
	                        <div class="accordion-body">
	                            登入後，點選<a href="../Login-Home/Login-Home.html">我要幫忙(I can help!)</a>，點選任一需求提案並確認細節後，按下接受，即可幫助他人。
	                        </div>
	                    </div>
	                </div>
	                <div class="accordion-item">
	                    <h2 class="accordion-header" id="heading1Six">
	                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1Six" aria-expanded="false" aria-controls="collapse1Six">
	                        有店家合作方案嗎？
	                        </button>
	                    </h2>
	                    <div id="collapse1Six" class="accordion-collapse collapse" aria-labelledby="heading1Six" data-bs-parent="#accordionExample">
	                        <div class="accordion-body">
	                            目前尚未有相關方案，如有合作提案請來信至018_team03@xxx.com.tw。
	                        </div>
	                    </div>
	                </div>
				</div>
	            <div class="QABox">
	                <p class="accordion-header QATitle">收費問題</p>
	                <div class="accordion-item">
	                    <h2 class="accordion-header" id="heading2One">
	                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2One" aria-expanded="false" aria-controls="collapse2One">
	                        價格是如何計算的呢？
	                        </button>
	                    </h2>
	                    <div id="collapse2One" class="accordion-collapse collapse" aria-labelledby="heading2One" data-bs-parent="#accordionExample">
	                        <div class="accordion-body">
	                            總收取費用為商品總價+跑腿費*1.1。<br>
	                            註：15%為營業稅+平台使用費等費用合計，最低收取30元。
	                        </div>
	                    </div>
	                </div>
	                <div class="accordion-item">
	                    <h2 class="accordion-header" id="heading2Two">
	                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2Two" aria-expanded="false" aria-controls="collapse2Two">
	                        什麼是白忙一場費用？
	                        </button>
	                    </h2>
	                    <div id="collapse2Two" class="accordion-collapse collapse" aria-labelledby="heading2Two" data-bs-parent="#accordionExample">
	                        <div class="accordion-body">
	                            若未能完成需求或提案者自行取消，提案者或幫手須在雙方聊天室中按下白忙一場按鈕，重新協調應收取之跑腿費。<br>
	                            但仍須收取最低30元之營業稅+平台使用費。
	                        </div>
	                    </div>
	                </div>
	                <div class="accordion-item">
	                    <h2 class="accordion-header" id="heading2Three">
	                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2Three" aria-expanded="false" aria-controls="collapse2Three">
	                        能使用現金支付嗎？
	                        </button>
	                    </h2>
	                    <div id="collapse2Three" class="accordion-collapse collapse" aria-labelledby="heading2Three" data-bs-parent="#accordionExample">
	                        <div class="accordion-body">
	                            為避免現金交易之衍生問題，平台不提供現金交易。
	                        </div>
	                    </div>
	                </div>
				</div>
	            <div class="QABox">
	                <p class="accordion-header QATitle">關於任務</p>
	                <div class="accordion-item">
	                    <h2 class="accordion-header" id="heading3One">
	                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3One" aria-expanded="false" aria-controls="collapse3One">
	                        如何取消需求提案呢？
	                        </button>
	                    </h2>
	                    <div id="collapse3One" class="accordion-collapse collapse" aria-labelledby="heading3One" data-bs-parent="#accordionExample">
	                        <div class="accordion-body">
	                            登入後，點選右上角個人圖像，選擇「會員中心」，之後選擇左側「I need help 紀錄」，點選該任務右方的取消按鈕，即可取消。
	                        </div>
	                    </div>
	                </div>
	                <div class="accordion-item">
	                    <h2 class="accordion-header" id="heading3Two">
	                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3Two" aria-expanded="false" aria-controls="collapse3Two">
	                        若對需求提案有任何問題？
	                        </button>
	                    </h2>
	                    <div id="collapse3Two" class="accordion-collapse collapse" aria-labelledby="heading3Two" data-bs-parent="#accordionExample">
	                        <div class="accordion-body">
	                            如請直接點選聊天室與需求提案者或是幫手聯繫。
	                        </div>
	                    </div>
	                </div>
				</div>
	            <div class="QABox">
	                <p class="accordion-header QATitle">個人基本資料問題</p>
	                <div class="accordion-item">
	                    <h2 class="accordion-header" id="heading4One">
	                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4One" aria-expanded="false" aria-controls="collapse4One">
	                        如何修改個人註冊資訊，如信箱、電話、常用地址......？
	                        </button>
	                    </h2>
	                    <div id="collapse4One" class="accordion-collapse collapse" aria-labelledby="heading4One" data-bs-parent="#accordionExample">
	                        <div class="accordion-body">
	                            登入後，點選右上角個人圖像，選擇「會員中心」，至會員中心修改即可。
	                        </div>
	                    </div>
	                </div>
				</div>
	        </div>
        </div>
	</div>

	<!-- 頁尾 -->
    <div id="footer"></div>
	<script src="javaScript/logout.js"></script>

</body>

</html>