<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>queryOrderByMemberId</title>
    <!-- Boostrap5.0 導入程式 -->
    <!-- CSS only -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- JQuery 導入程式 -->
    <script src="static/js/jquery-3.6.0.min.js"></script>

    <script src="javaScript/queryOrderByMemberId.js"></script>
    <style>
        * {
            font-family: Tahoma;
        }

        .navbar {
            background: rgb(238, 174, 202);
            background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
        }

        .title {
            text-align: center;
        }
    </style>

<body>
    <!-- 導覽列 -->
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <!-- 品牌LOGO -->
            <a class="navbar-brand" href="LoginHome/LoginHome.html">幫幫忙
                <img src="images/handbag-fill.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            </a>
            <!-- 手機版顯示 -->
            <div class="navbar-toggler border-0 p-0">
                <div class="rounded-circle d-flex">
                    <img class="rounded-circle" data-bs-toggle="collapse" data-bs-target="#offcanvas">
                    <p id="c14" class="fs-1 py-2 ps-1 m-0" data-bs-toggle="collapse" data-bs-target="#offcanvas"></p>
                </div>
            </div>
            <!-- 桌機版顯示 -->
            <div class="collapse navbar-collapse" id="linkbar">
                <!-- 內容 -->
                <ul class="navbar-nav me-auto p-2">
                    <li class="nav-item">
                        <a class="nav-link" href="INeedHelp/INeedHelp.html">提出需求(I need help!)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ICanHelp/ICanHelp.html">我要幫忙(I can help!)</a>
                    </li>
                </ul>
                <img class="rounded-circle" style="height:40px; width:40px;" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" src="images/h59cdWc.bmp">
            </div>
        </div>
    </nav>
    <!-- 小視窗時點大頭貼的offcanvas -->
    <div class="collapse navbar-collapse bg-light p-2" id="offcanvas">
        <!-- 內容 -->
        <ul class="navbar-nav me-auto bg-light">
            <li class="nav-item">
                <p class="nav-link m-0 fs-5 text-dark">會員中心</p>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="INeedHelp/INeedHelp.html">提出需求(I need help!)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Login-Home/Login-Home.html">我要幫忙(I can help!)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="CommonProblem/CommonProblem.html">常見問題</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="AboutUs/AboutUs.html">關於我們</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="ContactCustomerService/ContactCustomerService.html">聯絡客服</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">登出</a>
            </li>
        </ul>
    </div>
    <!-- 大視窗時點大頭貼的offcanvas -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header pb-0">
            <div class="d-flex">
                <img width="55" height="55" class="rounded-circle" src="images/h59cdWc.bmp">
                <div class="ps-3">
                    <p id="c15" class="fs-4 p-0 m-0"></p>
                    <p class="fs-6 p-0 mb-2 text-secondary">會員編號#<label id="c17"></label></p>
                </div>
                <div class="ps-2">
                    <div class="d-flex ps-4 pb-1">
                        <p id="c18" class="m-0 me-1 pt-1 fs-6"></p>
                        <div id="offcanvasStarRating" class="d-flex p-2">
                        </div>
                    </div>
                    <a class="m-4" href="#">???筆紀錄</a>
                </div>
            </div>
        </div>
        <div class="offcanvas-body pt-0">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <p class="nav-link m-0 fs-5 text-dark">會員中心</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="CommonProblem/CommonProblem.html">常見問題</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="AboutUs/AboutUs.html">關於我們</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ContactCustomerService/ContactCustomerService.html">聯絡客服</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">登出</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="orderList">
        <h2 class="title mt-3 mb-2">我的訂單</h2>
        <div id="feedback" align="center" class="mb-2">
            <div class="row"></div>
        </div>
        <div id="result" align="center">
            <div class="row"></div>
        </div>
    </div>

</body>
<!-- Boostrap5.0 導入程式 -->
<!-- JavaScript Bundle with Popper -->
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/popper.min.js"></script>

</html>