body {
    margin: 0%;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);

}

.card {
    margin: 0%;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.card-body {
    font-style: oblique;
}


.breadcrumb {
    text-decoration: none;
    font-size: larger;
}

img {
    Display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}