html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body{
    background: #DCDCD7;
	margin: 0%;
}
.main-content{
	min-height: 100%;
}

li a{
    font-size: 20px;
}


a{
    text-decoration: none;
}

.contactBox{
    background-color: #DCDCD7;
    margin: 10px 20px 10px 20px;
    padding: 10px 20px;
}

input, textarea{
    display: block;
    margin: 10px;
}