html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.main-content{
	min-height: 100%;
/* 	padding-bottom: 265px; */
}

/* footer{ */
/* 	height: 265px; */
/* 	position: relative; */
/*     top: -265px; */
/*     height: 265px; */
/* } */

/* nav{
    height: 70px;
    position: absolute;
    top:0;
}


.navbar{
    background-color:azure
} */

li a{
    /* color:darkgray !important; */
    font-size: 20px;
}

/* li a:hover{
    color:darkslateblue !important;
} */
a{
    text-decoration: none;
}
.QABox{
    /* border: 1px solid #ccc; */
    padding: 0px 10px 15px 30px;
}
.QATitle{
    font-size: large;
    margin: 1% auto;
}