body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

nav{
    height: 70px;
}


.navbar{
    background-color:azure
}

li a{
    /* color:darkgray !important; */
    font-size: 20px;
}

li a:hover{
    color:darkslateblue !important;
}
a{
    text-decoration: none;
}
.orderId{
	font-size: medium;
	width: 18%;
    margin-right: 1%;
}
.orderDate{
	font-size: medium;
	width: 28%;
    margin-right: 1%;
}
.orderStatus{
	font-size: medium;
	width: 20%;
    margin-right: 1%;
}
.orderRating{
	font-size: medium;
	width: 7%;
    margin-right: 1%;
}
.stars{
	float: right;
	width: 25%;
}
img{
	display: inline-block;
	vertical-align: middle;
	width: 7%;
}
.itemsDetail{
	margin-left: 0%;
}
.itemsDetailTitle{
	width:15%;
    display: inline-block;
}
.itemsDetailContent{
	width:40%;
    display: inline-block;
}